﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif!important;
        text-align: center;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"],
input[type="number"],
select {

    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}



.p-2 {
    padding: .5rem!important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
        max-width: 230px;
        width: 50%;
  margin: 0 auto;
  min-width: 230px;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group-append {
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;

}

.card .input-group input[type="text"]{
    width:137px;
}

h1.svHeader, h2.svHeader
{
    color:#AB50BF;
    font-size: 1.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.alert-warning {
    padding: 0 20px 0 20px;
}


table{
        margin: auto;
}


footer{
    text-align: left;
}

footer p {
    width:50%;
    float:left;
}
.right {
    text-align:right;
}

.inputDetails input[type=text], .inputDetails input[type=email], .inputDetails input[type=number], .inputDetails select
{
        display: block;
    margin: 0 auto;
}